.Card {
    cursor: pointer;
    max-width: 400px;
    height: 240px;
    margin: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    transition: 0.2s all ease;
    transform: scale(1);
    overflow: hidden;
}

.Card:hover {
    transform: scale(1.05);
    text-decoration: none;
}

.Card h2 {
    text-align: center;
    height: 80px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 10px 10px 0 0;
    padding: 20px 10px;
    color: #fff;
    background-color: #1462ff;
    margin: 0px;
}

.Description {
    color: #949494;
    height: 100px;
    overflow: hidden;
    margin: 10px;
}

.CreatedBy {
    margin: 10px;
    font-weight: bold;
    color: #4d4d4d;
}

.DateIcon {
    color: #4d4d4d;
    margin-left: 10px;
}

.DateCreated {
    display: inline-block;
    font-weight: bold;
    color: #4d4d4d;
}